<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077606637864-tgvhu2ltv7dahlem0h40up2qdjrtg4k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077606637864-tgvhu2ltv7dahlem0h40up2qdjrtg4k2</string>
	<key>API_KEY</key>
	<string>AIzaSyAAFLsHzfaaIz0bQM8hUUr3Lgt3-JP6H5w</string>
	<key>GCM_SENDER_ID</key>
	<string>1077606637864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ze-pequeno.mobile.ZPMAPP</string>
	<key>PROJECT_ID</key>
	<string>projetozep</string>
	<key>STORAGE_BUCKET</key>
	<string>projetozep.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077606637864:ios:9481b48e04b7a92a22b01d</string>
</dict>
</plist>