<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694949544104-or4fkspffk0gtum504odr7ubi29dck1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694949544104-or4fkspffk0gtum504odr7ubi29dck1n</string>
	<key>API_KEY</key>
	<string>AIzaSyCGM3t7QScukhLjdAuJetheByVh64FyUY4</string>
	<key>GCM_SENDER_ID</key>
	<string>694949544104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ze-pequeno.mobile.ZPMAPP</string>
	<key>PROJECT_ID</key>
	<string>youflicks</string>
	<key>STORAGE_BUCKET</key>
	<string>youflicks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694949544104:ios:a3aee0dbf63bf88fe6829d</string>
</dict>
</plist>